.container-fluid {
    padding: 97px 0 0 0;
}

@media (max-width: 576px) {

    .statistics-details,
    .row.flex-grow {
        display: flex !important;
        flex-direction: column !important;
    }

    .text-danger {
        flex-wrap: wrap !important;
    }
}

/* Đảm bảo biểu đồ chỉ thu về chiều ngang khi hiển thị trên điện thoại */
@media screen and (max-width: 768px) {
    .homepageLineMonth {
        overflow-x: scroll;
    }
}

#logo-1 img {
    max-width: 100%;
    /* height: 100%; */
    margin: auto;
    vertical-align: middle;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
    display: block !important;
    background-size: cover;
    object-fit: fill;
    width: 90px;
    height: 90px;
}

@media screen and (max-width: 990px) {
    #logo-1 img {
        max-width: 100%;
        height: 100%;
        margin: auto;
        vertical-align: middle;
    }

    .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
        display: block !important;
        background-size: cover;
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
}