.offset-margin {
  margin-left: auto;
  margin-right: auto;
}

.chart-page .datepicker span, .chart-page .datepicker .form-control, .profile-user-page .datepicker span {
  color: black;
  background: white;
}

.chart-page .datepicker span span, .profile-user-page .datepicker span span {
  border: none;
}

.table-page .inner-wrap {
  margin-bottom: 16px;
}

@media (max-width: 575.98px) {
  .table-page .inner-wrap span {
    display: none;
  }
}