{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="content-wrapper">
<div class="row">
  <div class="offset-margin col-lg-8 col-md-8 col-sm-12 col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Đổi mật khẩu</h4>
        <p class="card-description">
          Yêu cầu nhập mật khẩu bảo mật cao. Nhập từ 8 - 255 ký tự.
          Mật khẩu không chứa các từ phổ thông hoặc tên. Mật khẩu 
          chứa các ký tự viết hoa, viết thường, các số và các ký tự
          đặc biệt .
          
        </p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="oldPassword">Mật khẩu cũ</label>
            <input type="password" class="form-control" id="oldPassword">
          </div>
          <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" class="form-control" id="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="confirmNewPassword">
          </div>
          <button type="submit" class="btn btn-primary me-2">Xác nhận</button>
          <button class="btn btn-light">Hủy</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}