{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="content-wrapper">
<div class="row">
  <div class="offset-margin col-lg-8 col-md-8 col-sm-12 col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change password</h4>
        <p class="card-description">
          Strong password required. Enter 8-255 characters. Do not 
          include common words or names. Combine uppercase letters, 
          lowercase letters, numbers, and symbols.
        </p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword">
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmNewPassword">
          </div>
          <button type="submit" class="btn btn-primary me-2">Confirm</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}