{% extends 'base.html' %} 
{% load humanize %}
{% load static %} 
{% block title%}Bảng khách hàng{%endblock title %} 
{% block content %}

<div class="content-wrapper table-page">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bảng khách hàng của doanh nghiệp</h4>
          <div class="row">

            <div class="col-md-12">
              <div class="row text-center">

                <div class="inner-wrap col-lg-10 col-sm-8 col-8">
                  <!-- tim kiem -->
                  <form method="GET" action="{% url 'customer' %}" class="btn-wrapper d-flex justify-content-end align-center" style="align-items: baseline">
                    <input
                      type="text"
                      name="q"
                      class="form-control"
                      id="searchField"
                      placeholder="Tìm kiếm"
                      style="height: 100%;"
                    />
                    <button class="btn btn-info align-items-center">
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </form>
                </div>
                
                <div class="inner-wrap col-lg-2 col-sm-4 col-4">
                  <!-- them  -->
                  <a href="/customer/add" class="btn btn-primary me-0">
                    <i class="mdi mdi-plus-circle-outline"></i> 
                    <span>Thêm</span>
                  </a>
                </div>

                
                

              </div>
              
            </div>

            

          </div>
          <div class="table-responsive mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th>Ảnh đại diện</th>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Địa chỉ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for customer in page_obj %}
                <tr>
                  <td class="py-1">
                    <img src="{{customer.image.url}}" alt="image"/>
                  </td>
                  <td>{{customer.name}}</td>
                  <td>{{customer.phone}}</td>
                  <td>{{customer.address}}</td>
                  <td>
                    <a
                      href="/customer/edit/{{customer.id}}"
                      class="btn btn-outline-dark align-items-center me-2"
                    >
                      <i
                        class="mdi mdi-grease-pencil"
                        style="vertical-align: middle"
                      ></i>
                    </a>
                      <button
                        type="button"
                        class="delete_customer_btn btn btn-outline-dark align-items-center me-2"
                      >
                        <i
                          class="mdi mdi-delete"
                          style="vertical-align: middle"
                        ></i>
                      </button>
                  </td>
                </tr>
                <form class="form_delete_customer" method="POST" action="/customer/delete/{{customer.id}}">
                  {% csrf_token %}
                </form>
                {% endfor %}
              </tbody>
            </table>
            <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
          
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // delete customer
  document.addEventListener("DOMContentLoaded", function () {
    var delete_customer_btn = document.getElementsByClassName("delete_customer_btn");
    var form_delete_customer = document.getElementsByClassName("form_delete_customer");
    for (let i = 0; i < delete_customer_btn.length; i++) {
      delete_customer_btn[i].addEventListener("click", function () {
        var result = confirm("Bạn có chắc chắn muốn xóa khách hàng này không?");
        if (result) {
          form_delete_customer[i].submit();
        }
      });
    }
  });
</script>

{% endblock content %}

