{% extends 'base.html' %} 
{% load humanize %}
{% load static %} 
{% block title%}Bảng hóa đơn{%endblock title %} 
{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bảng hóa đơn của doanh nghiệp</h4>
          <div class="row">
            <div
              class="btn-wrapper col-md-12 d-flex justify-content-end align-center"
              style="align-items: baseline"
            >
              <form method="GET" action="{% url 'order' %}" class="col-md-4 btn-wrapper d-flex justify-content-end align-center" style="align-items: baseline">
                <input
                  type="text"
                  name="q"
                  class="form-control"
                  id="searchField"
                  placeholder="Tìm kiếm"
                  style="height: 100%;"
                />
                <button class="btn btn-info align-items-center">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </form>
              <a href="/order/add" class="btn btn-primary text-white me-0">
                <i class="mdi mdi-plus-circle-outline"></i> Thêm
              </a>
            </div>
          </div>
          <div class="table-responsive mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Tên khách hàng</th>
                  <th>Tổng tiền</th>
                  <th>Ngày mua hàng</th>
                  <th>Trạng thái</th>
                  <th>Ghi chú</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for order in page_obj %}
                <tr>
                  <td>{{order.id}}</td>
                  <td>{{order.customer_name}}</td>
                  <td>{{ order.total|floatformat:"0"|intcomma }} VNĐ</td>
                  <td>{{ order.create_date|date:"d/m/Y" }}</td>
                  <td>
                    {% if order.status == '0' %}
                    <span class="badge bg-warning text-dark">Vừa mới tạo đơn hàng</span>
                    {% elif order.status == '1' %}
                    <span class="badge bg-info">Đang giao hàng</span>
                    {% elif order.status == '2' %}
                    <span class="badge bg-success ">Đã giao hàng thành công</span>
                    {% elif order.status == '3' %}
                    <span class="badge bg-danger">Đã hủy</span>
                    {% endif %}
                  </td>
                  <td>{{order.discrption}}</td>
                  <td>
                    <a
                      href="/order/detail/{{order.id}}"
                      class="btn btn-outline-dark align-items-center me-2"
                    >
                      <i
                        class="mdi mdi-eye"
                        style="vertical-align: middle"
                      ></i>
                    </a>
                    <a
                      href="/order/edit/{{order.id}}"
                      class="btn btn-outline-dark align-items-center me-2"
                    >
                      <i
                        class="mdi mdi-grease-pencil"
                        style="vertical-align: middle"
                      ></i>
                    </a>
                      <button
                        type="button"
                        class="delete_order_btn btn btn-outline-dark align-items-center me-2"
                      >
                        <i
                          class="mdi mdi-delete"
                          style="vertical-align: middle"
                        ></i>
                      </button>
                  </td>
                </tr>
                <form class="form_delete_order" method="POST" action="/order/delete/{{order.id}}">
                  {% csrf_token %}
                </form>
                {% endfor %}
              </tbody>
            </table>
            <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
          
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // delete order
  document.addEventListener("DOMContentLoaded", function () {
    var delete_order_btn = document.getElementsByClassName("delete_order_btn");
    var form_delete_order = document.getElementsByClassName("form_delete_order");
    for (let i = 0; i < delete_order_btn.length; i++) {
      delete_order_btn[i].addEventListener("click", function () {
        var result = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
        if (result) {
          form_delete_order[i].submit();
        }
      });
    }
  });
</script>

{% endblock content %}

