{% extends 'base.html' %} 
{% load humanize %}
{% load static %} 
{% block title%}Bảng sản phẩm{%endblock title %} 
{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bảng sản phẩm của doanh nghiệp</h4>
          <div class="row">
            <div
              class="btn-wrapper col-md-12 d-flex justify-content-end align-center"
              style="align-items: baseline"
            >
              <form method="GET" action="{% url 'product' %}" class="col-md-4 btn-wrapper d-flex justify-content-end align-center" style="align-items: baseline">
                <input
                  type="text"
                  name="q"
                  class="form-control"
                  id="searchField"
                  placeholder="Tìm kiếm"
                  style="height: 100%;"
                />
                <button class="btn btn-info align-items-center">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </form>
              <a href="/product/add" class="btn btn-primary text-white me-0">
                <i class="mdi mdi-plus-circle-outline"></i> Thêm
              </a>
            </div>
          </div>
          <div class="table-responsive mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th>Ảnh</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá</th>
                  <th>Ngày sửa</th>
                  <th>Ghi chú</th>
                  <th>Doanh thu</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for product in page_obj %}
                <tr>
                  <td class="py-1">
                    <img src="{{product.image.url}}" alt="image"/>
                  </td>
                  <td>{{product.name}}</td>
                  <td>{{ product.price|floatformat:"0"|intcomma }} VNĐ</td>
                  <td>{{ product.updated_at|date:"d/m/Y" }}</td>
                  <td>{{product.description}}</td>
                  <td>{{ product.revenue|floatformat:"0"|intcomma }} VNĐ</td>
                  <td>
                    <a
                      href="/product/edit/{{product.id}}"
                      class="btn btn-outline-dark align-items-center me-2"
                    >
                      <i
                        class="mdi mdi-grease-pencil"
                        style="vertical-align: middle"
                      ></i>
                    </a>
                      <button
                        type="button"
                        class="delete_product_btn btn btn-outline-dark align-items-center me-2"
                      >
                        <i
                          class="mdi mdi-delete"
                          style="vertical-align: middle"
                        ></i>
                      </button>
                  </td>
                </tr>
                <form class="form_delete_product" method="POST" action="/product/delete/{{product.id}}">
                  {% csrf_token %}
                </form>
                {% endfor %}
              </tbody>
            </table>
            <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
          
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // delete product
  document.addEventListener("DOMContentLoaded", function () {
    var delete_product_btn = document.getElementsByClassName("delete_product_btn");
    var form_delete_product = document.getElementsByClassName("form_delete_product");
    for (let i = 0; i < delete_product_btn.length; i++) {
      delete_product_btn[i].addEventListener("click", function () {
        var result = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
        if (result) {
          form_delete_product[i].submit();
        }
      });
    }
  });
</script>

{% endblock content %}

