{% extends 'base.html' %}
{% load static %}
{% block title %}Upgrade Success{% endblock title %}
{% block content %}
<div class="content-wrapper">
  <div class="upgrade-success-page">

    <div class="payment-method">
      <div class="row">
        <div class="offset-margin col-lg-12 col-md-8 col-sm-12 col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">Cám ơn bạn đã đặt hàng thành công</h4>
              <div class="card-description">
                <p>Cảm ơn bạn đã nâng cấp tài khoản. Chúng tôi sẽ kích hoạt tài khoản trong vòng 24 giờ</p>
                <p class="italic text-danger"> Nếu bạn chưa có tài khoản, chúng tôi sẽ tạo mới tài khoản và gửi thông tin đăng nhập vào Email của bạn.</p>
              </div>
                  

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock content %}