{% extends 'base.html' %}
{% load static %}
{% block title %}Upgrade{% endblock title %}
{% block content %}
<div class="content-wrapper">
<div class="row">
  <div class="section-one">
    <h2 class="inner-title">
      Start managing personal finances more effectively and conveniently with Money Lover Premium
    </h2>
    <table>
      <thead>
        <tr>
          <th>
            
          </th>
          <th>
            Money Lover Free
          </th>
          <th>
            Money Lover Premium
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Number of cash wallets
          </td>
          <td>
            1
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            Number of budgets, savings, events, recurring and bills
          </td>
          <td>
            1
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            Sync
          </td>
          <td>
            Up to 5 devices
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            Access to web app
          </td>
          <td>
            <img src="assets/images/image-1.svg" alt="Image 1">
          </td>
          <td>
            <img src="assets/images/image-1.svg" alt="Image 1">
          </td>
        </tr>
        <tr>
          <td>
            Export CSV
          </td>
          <td>
            <img src="assets/images/image-2.svg" alt="Image 2">
          </td>
          <td>
            <img src="assets/images/image-1.svg" alt="Image 1">
          </td>
        </tr>
        <tr>
          <td>
            Attach picture to transaction
          </td>
          <td>
            <img src="assets/images/image-2.svg" alt="Image 2">
          </td>
          <td>
            <img src="assets/images/image-1.svg" alt="Image 1">
          </td>
        </tr>
        <tr>
          <td>
            No advertisement!
          </td>
          <td>
            <img src="assets/images/image-2.svg" alt="Image 2">
          </td>
          <td>
            <img src="assets/images/image-1.svg" alt="Image 1">
          </td>
        </tr>
        <tr>
          <td>
  
          </td>
          <td>
  
          </td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock content %}