{% extends 'base.html' %}
{% load static %}
{% block title %}Upgrade Checkout{% endblock title %}
{% block content %}
<div class="content-wrapper">
  <div class="upgrade-checkout-page">
    <div class="payment-detail">
      <div class="row">
        <div class="offset-margin col-lg-12 col-md-8 col-sm-12 col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Payment details</h4>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      Name
                    </td>
                    <td>
                      nguyen van a
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Phone number
                    </td>
                    <td>
                      099999999999
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Email
                    </td>
                    <td>
                      nguyenVanA@gmail.com
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pay for	
                    </td>
                    <td>
                      Premium
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Currency	
                    </td>
                    <td>
                      USD
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Amount
                    </td>
                    <td>
                      $ 24.49
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="payment-method">
      <div class="row">
        <div class="offset-margin col-lg-12 col-md-8 col-sm-12 col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Payment method</h4>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      Ten ngan hang
                    </td>
                    <td>
                      nguyen van a
                    </td>
                  </tr>
                  <tr>
                    <td>
                      chu tai khoan
                    </td>
                    <td>
                      099999999999
                    </td>
                  </tr>
                  <tr>
                    <td>
                      so tai khoan
                    </td>
                    <td>
                      nguyenVanA@gmail.com
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <a href="/user/upgrade/success" class="btn btn-primary">Hoàn tất nâng cấp tài khoản</a>
                    </td>
                  </tr>
                  


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock content %}